@font-face {
    font-family: 'Raleway';
    src: url('/src/assets/fonts/Raleway-Regular.ttf');
}
@font-face {
    font-family: 'Raleway-bold';
    src: url('/src/assets/fonts/Raleway-Bold.ttf');
}

@font-face {
    font-family: 'Open-sans';
    src: url('/src/assets/fonts/OpenSans-Regular.ttf')
}
@font-face {
    font-family: 'Open-sans-bold';
    src: url('/src/assets/fonts/OpenSans-Bold.ttf')
}